body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;
}

.first-sec {

    background-image: url(images/donation13.jpg);
    height: 632px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    margin-bottom: 100px;

}


.button {
    background-color: #ff5959;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    color: white;
    display: inline-block;
    margin-top: 20px;

}

.div-allign {
    text-align: center;
    margin-bottom: 100px;
}

.shadow {
    width: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;
    text-align: center;
}

.shadow-b {
    width: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0 5px rgb(223, 99, 27);
    text-align: center;
    color: rgb(223, 99, 27);
}

.flexible-container {
    display: flex;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
}

.box-width {
    width: 10%;
    margin-left: 5%;
}

.flexible-container-two {
    display: flex;
    width: 90%;
    margin-bottom: 60px;
    margin-left: 5%;
}

.one-third-div {
    width: 27%;
    margin-left: 3%;
    padding: 20px;
}

.one-third-div img {
    width: 60px;
}

#food {
    background-color: aqua;
}

#aid {
    background-color: blue;
}

#clothes {
    background-color: rgb(17, 122, 34);
}

.flexible-container-three {
    display: flex;
    width: 100%;

}

.boy {
    width: 50%;
    padding: 8%;

}

.boy img {
    width: 100%;
}

.boy-text {
    width: 50%;
    text-align: left;
    margin-top: 90px;
}

.input-key {
    width: 50%;
    height: 80px;
    margin-left: 25%;
    text-align: center;
    border-radius: 1px;
    background-color: #d86d6d;
    padding: 20px;
    margin-bottom: 100px;
}

.footer {
    border-radius: 1px;
    text-align: center;
    background-color: black;
    padding: 20px;
    color: beige;
}

span {
    color: purple;
    font-family: 'The Nautigal', cursive;
    font-size: xx-large;
}